.carrocel-clientes {
  overflow: hidden;
  width: 100%;
  padding-top: 1%;
  margin: 0;
}

.carrossel {
  display: flex;
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-60%);
  }
}

@media (min-width: 55px) and (max-width: 860px) {
  .carrossel {
    display: flex;
    animation: scroll-left 15s linear infinite;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300%);
    }
  }
}
