:root {
  --primary-color: #28025e;
  --white-color: #ffffff;
  /* --white-color: linear-gradient(#647e8d, #131313); */
  --light-gray-color: #bfbfbf;
  --gray-color: #4d4e4e;
  --gray2-color: rgb(52, 53, 53);
  --blue1-color: #0e3c5e;
  --orange-color: #f28100;
  --blue-color: #27cae7;
  --green-color: #1b8902;
  --green2-color: #088c2b;
  --yellow-color: #c9c909;
  --secondary-color: rgb(204, 2, 255); /* nav Efect */
  --lighroxo-color: rgb(214, 213, 239);
  --gap: 3rem;
}
